html{
    background-color: black;
}   
header{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

h1.header{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color:whitesmoke;
    font-size: 400%;
}

hr.header{
    height: 10px;
    background-color: red;
    color: red;
    border: none;
}

main{
    display: flex;
    justify-content: center;
}

#arcadeBG{
    width: 95vw;
}

#screen{
    position: absolute;
    background-color: #1b1b1b;
    background-size: 100% 100%;
    border:#fff solid 5px;
    top: 0px;
    left: 0px;
}

#buttOne{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: 0px;
    left: 0px;
}

#polybiusImg{
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10%; 
}

.puzzImg {
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10%;
}
